@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Outfit', sans-serif;
	height: 100vh;
	background-color: #D5E1EF;
	display: flex;
	justify-content: center;
	align-items: center;
}
.card {
	width: 320px;
	background-color: white;
	display: flex;
	align-items: center;
	flex-direction: column;
	border-radius: 20px;
}

img {
	margin-top: 16px;
	border-radius: 10px;
}

.improve {
	padding-left: 16px;
	padding-right: 16px;
	font-weight: 700;
	color: #1F314F;
	font-size: 22px;
	line-height: 28px;
	text-align: center;
	margin-top: 24px;
}


.scan {
	font-size: 15px;
	line-height: 19px;
	text-align: center;
	color: #7D889E;
	margin: 16px 32px 50px 32px;
}
